@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Sofia&display=swap');
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background: black;
}
.parallax {
    /* The image used */
    background-image: url("./image/IMG_3712.JPG");
    /* Set a specific height */
    min-height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cover{
    position: absolute;
    width: 100%;
    height: 112vh;
    background: black;
    z-index: 1;
    top:0;
    opacity: 0.4;
}
.opacity h3{
    font-family: 'Sofia', cursive;
    text-transform: uppercase;
}
header{
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    z-index: 3;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin-left: 20px;
}
header a:hover{
    color: #aa5e24;
    font-size: 20px;
}
.logo h1{
    text-transform: uppercase;
    letter-spacing: 3px;
}
.logo{
    position: relative;
}
.logo div{
    width: 45%;
    height: 2px;
    background: white;
    position: absolute;
    top:66%;
    left: 30%;

}
.main{
    position: absolute;
    color: white;
    top:40%;
    left: 21%;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    z-index: 3;
}
.main .buttons button{
    background: transparent;
    width: 150px;
    height: 50px;
    color: white;
    border: 1px solid rgba(255,255,255,.5) ;
    font-weight: bold;
    font-size: 20px;

}
.main .buttons button:hover{
    background: #aa5e24;
    width: 160px;
    height: 60px;
    border: none;
}
.about{
    /* The image used */
    background-image: url("https://www.jamescoxandsons.com/wp-content/uploads/2015/06/black-texture-compressor.jpg");
    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.about .opacity{
    width: 450px;
    padding: 30px;
    background: black;
    position: absolute;
    top: 150px;
    left: 43%;
    color: white;
    opacity: 0.7;
}
.about .opacity:hover{
    transition: 1s;
    transform: scale(1.2);
}
.menu .img-menu{
    width: 100%;
}
.phone{
    display: flex;
    align-items: center;
}
.menu{
    position: relative;
}
.box-1{
    position: absolute;
    top:10px;
    left:20%;
    text-align: center;
}
.box-1 h1{
    font-size: 55px;
    margin: 0;

}
.logo h1:after{
    content: " ";
    width: 40%;
    height: 2px;
    background: white;
}
.adr{
    background: black;
    padding: 60px 0;

}
.sub-adr{
    display: flex;
    justify-content: space-between;
    color:white;
    align-items: center;
}
.first{
    text-align: center;
}
.new{
    background-image: url("https://www.jamescoxandsons.com/wp-content/uploads/2015/06/black-texture-compressor.jpg");
    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.box-5{
    display: flex;
    justify-content: space-between;
}
.box-3{
    width: 60%;
    text-align: right;
}
.box-3 h2{
    color: white;
    font-size: 45px;
    letter-spacing: 2px;
}
.box-3 p{
    color: grey;
}
.box-3 button{
    background: transparent;
    width: 150px;
    height: 50px;
    color: #aa5e24;
    border: 1px solid #aa5e24 ;
    font-size: 15px;

}
.box-4{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-4 img{
    width: 180px;
    margin-bottom: 15px;
}
.box-4 img:hover{
    transform: scale(1.3);
    transition: 2s;
}
.container .box-4{

}
.box-5{
    padding: 60px 0;
}
.main-menu{
    background-image: url("https://www.jamescoxandsons.com/wp-content/uploads/2015/06/black-texture-compressor.jpg");
    /* Set a specific height */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.full-menu{
    padding: 60px 0;
    color: white;
}
.sub-menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #aa5e24;
}
.right{
    width: 50%;
}
.left{
margin-left: 50%;
}
.left h3{
    color: #aa5e24;
}
.right h3{
    color: #aa5e24;
}
footer{
    height: 60px;
    background: black;
    color: white;
   padding: 30px;
}
@media screen and (min-width:350px) and (max-width:765px) {
    .menu{
        display: none;
    }
    .main{
        transform: scale(0.5);
        left: 0;
        top:30%;
        font-size: 21px;
    }
    .about .opacity{
        transform: scale(0.7);
        left: -67px;
    }
    .box-4{
        transform: scale(0.5);
        padding: 10px 0;
        margin: 0;
    }
    .box-3{
        left: 0;
        transform: scale(0.7);
    }
    .box-5{
        padding: 10px 0;
    }
    .about img{
        width: 100%;
    }
    .parallax{
        background-size: 100%;
    }
    .box-4 img{
        transform: scale(0.5);
    }
}
